@model IEnumerable<PesonalShopSolution.Areas.Admin.Models.AspNetRoles>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a asp-action="Create"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:30px"> Create </i></a>
                </p>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Roles Table</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    NormalizedName
                                </th>
                                <th>
                                    ConcurrencyStamp
                                </th>
                                <th>Edit</th>
                                <th>Details</th>
                                <th>Delete</th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NormalizedName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" style="font-size:20px" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye" style="font-size:20px" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" style="font-size:20px" aria-hidden="true"></i></a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

