@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model PesonalShopSolution.ViewModels.CreateOrder

<div class="account-in">
    <div class="container">
        <div class="check_box">
            <div class="col-md-9 cart-items">
                <h1>Giỏ hàng đang có (@ViewBag.count) sản phẩm</h1>
                @foreach (var item in ViewBag.list)
                {
                    <div class="cart-header">

                        <a asp-controller="Home" asp-action="DeleteCart" asp-route-id="@item.GetType().GetProperty("Id").GetValue(item, null)"><div class="close1"></div></a>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src="~/admin/img/pro/@item.GetType().GetProperty("Image").GetValue(item, null)" class="img-responsive" alt="" />
                            </div>
                            <div class="cart-item-info">
                                <h3><a href="#">@item.GetType().GetProperty("ProductName").GetValue(item, null)</a><span>Model No: @item.GetType().GetProperty("ProductCode").GetValue(item, null)</span></h3>
                                <ul class="qty">
                                    <li><p><b>Hãng sản xuất : </b> @item.GetType().GetProperty("BrandName").GetValue(item, null)</p></li>
                                    <li><p><b>Số lượng : </b> @item.GetType().GetProperty("Amount").GetValue(item, null)</p></li>
                                    <p></p>
                                    <li><p><b>Giá : </b> @item.GetType().GetProperty("Price").GetValue(item, null) ₫</p></li>
                                </ul>

                                <div class="delivery">
                                    <p><b>Tổng tiền :</b> @item.GetType().GetProperty("Total").GetValue(item, null) ₫</p>
                                    <span>Giao hàng nhanh chóng trong 2-3 ngày</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-3 cart-total">
                <form asp-action="CreateOrder" asp-controller="Home">

                    <a class="order" href="#"> Chi tiết hóa đơn </a>
                    <div class="price-details">
                        <span>Tổng tiền</span>
                        <span class="total1">@ViewBag.sum1 ₫</span>
                        <span>Giảm giá</span>
                        <span class="total1">---</span>
                        <span>Phí vận chuyển :</span>
                        <span class="total1">25000 ₫</span>
                        <div class="clearfix"></div>
                    </div>
                    <input type="hidden" class='form-control' asp-for="TotalMoney" value="@ViewBag.sum2" required>
                    @foreach (var item in ViewBag.list)
                    {
                        <input type="hidden" class='form-control' asp-for="Amount" value="@item.GetType().GetProperty("Amount").GetValue(item, null)" required>
                        <input type="hidden" class='form-control' asp-for="IdProduct" value="@item.GetType().GetProperty("IdProduct").GetValue(item, null)" required>

                    }
                    <ul class="total_price">
                        <li class="last_price"> <h4>Thành tiền</h4></li>
                        <li class="last_price"><span>@ViewBag.sum2 ₫</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="clearfix"></div>
                    <button class="order" type="submit">Đặt hàng</button>
                    <div class="total-item">
                        <h3>Nhập mã giảm giá</h3>
                        <h4>COUPONS</h4>
                        <a class="cpns" href="#">Thêm Coupons</a>
                        <p><a href="#">Log In</a> to use accounts - linked coupons</p>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
</div>