@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model PesonalShopSolution.Areas.Admin.Models.Cart
<div class="men">
    <div class="container">
        @foreach (var item in ViewBag.list)
        {
            <form asp-action="Create" asp-controller="Home" >
                <div class="col-md-9 single_top">
                    <div class="single_left">
                        <div class="labout span_1_of_a1">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="../user/images/s1.jpg">
                                        <img src="~/admin/img/pro/@item.GetType().GetProperty("Image").GetValue(item, null)" />
                                    </li>
                                    @*<li data-thumb="../user/images/s2.jpg">
                                        <img src="~/user/images/s2.jpg" />
                                    </li>
                                    <li data-thumb="../user/images/s3.jpg">
                                        <img src="~/user/images/s3.jpg" />
                                    </li>
                                    <li data-thumb="../user/images/s4.jpg">
                                        <img src="~/user/images/s4.jpg" />
                                    </li>*@
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
                            <h1><b>@item.GetType().GetProperty("ProductName").GetValue(item, null)</b></h1>
                            <p class="availability">Tình trạng: <span class="color">Còn hàng</span></p>
                            <div class="price_single">
                                <span>Giá :</span>
                                <span class="amount item_price actual">@item.GetType().GetProperty("Price").GetValue(item, null) ₫</span><a href="#">click for offer</a>
                            </div>
                            <h2 class="quick">Mô tả sản phẩm :</h2>
                            <ul>
                                <li>Hình dạng      : @item.GetType().GetProperty("Shape").GetValue(item, null)</li>
                                <li>Màu sắc        : @item.GetType().GetProperty("Color").GetValue(item, null)</li>
                                <li>Chất liệu      : @item.GetType().GetProperty("Material").GetValue(item, null)</li>
                                <li>Kích thước     : @item.GetType().GetProperty("Weight").GetValue(item, null)</li>
                                <li>Thời gian BH   : @item.GetType().GetProperty("Warranty").GetValue(item, null) Tháng</li>
                            </ul>
                            <div class="wish-list">
                                <ul>
                                    <li class="wish"><a href="#">Add to Wishlist</a></li>
                                    <li class="compare"><a href="#">Add to Compare</a></li>
                                </ul>
                            </div>
                            <div>
                                <label for="quantity">Số lượng:</label>
                                <input asp-for="Amount" type="number"  value="1"  min="1" max="100">
                            </div>
                            <input type="hidden" class='form-control' asp-for="IdProduct" value="@item.GetType().GetProperty("Id").GetValue(item, null)" required>
                           
                            <input type="hidden" class='form-control' asp-for="IdUser" value="@ViewBag.userId" required>
                            <button type="submit" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self">Thêm vào giỏ hàng</button>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="sap_tabs">
                        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                            <ul class="resp-tabs-list">
                                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Giới thiệu sản phẩm</span></li>
                                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Thông tin sản phẩm</span></li>
                                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Reviews</span></li>
                            </ul>
                            <div class="resp-tabs-container">
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                    <div class="facts">
                                        <ul class="tab_list">
                                            <li>@item.GetType().GetProperty("DetailDescription").GetValue(item, null)</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                    <div class="facts">
                                        <ul class="tab_list">
                                            <li>Hình dạng      : @item.GetType().GetProperty("Shape").GetValue(item, null)</li>
                                            <li>Màu sắc        : @item.GetType().GetProperty("Color").GetValue(item, null)</li>
                                            <li>Chất liệu      : @item.GetType().GetProperty("Material").GetValue(item, null)</li>
                                            <li>Kích thước     : @item.GetType().GetProperty("Weight").GetValue(item, null)</li>
                                            <li>Thời gian BH   : @item.GetType().GetProperty("Warranty").GetValue(item, null) Tháng</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                                    <div class="facts">
                                        <ul class="tab_list">
                                            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</a></li>
                                            <li><a href="#">augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigatione</a></li>
                                            <li><a href="#">claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores leg</a></li>
                                            <li><a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </form>
                }
                <div class="col-md-3 tabs">
                    <h3 class="m_1">các sản phẩm khác </h3>
                    @foreach (var item in ViewBag.list1)
                    {
                        <ul class="product">
                            <li class="product_img"><img src="~/admin/img/pro/@item.Image" class="img-responsive" alt="" /></li>
                            <li class="product_desc">
                                <h4><a asp-controller="Home" asp-action="Single" asp-route-id="@item.Id">@item.ProductName</a></h4>
                                <p class="single_price">@item.Price ₫</p>
                                <a asp-controller="Home" asp-action="Single" asp-route-id="@item.Id" class="link-cart">Detail Product</a>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    }

                </div>
                <div class="clearfix"> </div>
        </div>
</div>
