@model IEnumerable<PesonalShopSolution.Areas.Admin.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a asp-action="Create"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:30px"> Create </i></a>
                    <a asp-controller="Specifications" asp-action="Index" style="padding-left:740px"><i class="fa fa-info-circle" aria-hidden="true" style="font-size:30px"> Specifications </i></a>
                </p>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Products Table</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>ID</th>
                                <th>ID Code</th>
                                <th>Product Name</th>
                                <th>Brand</th>
                                <th>Image</th>
                                <th>Price</th>
                                <th>Edit</th>
                                <th>Detail</th>
                                <th>Delete</th>
                                
                                </thead>
                                <tbody>
                                    <center>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IdBrandNavigation.BrandName)
                                            </td>

                                            <td><img class="image" id="imgPre" src="~/admin//img/pro/@Url.Content(item.Image)" style='width: 150px; height: 150px'></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price) $
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" style="font-size:20px" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye" style="font-size:20px" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" style="font-size:20px" aria-hidden="true"></i></a>
                                            </td>
                                            
                                        </tr>
                                        }
                                    </center>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>