@model IEnumerable<PesonalShopSolution.Areas.Admin.Models.Specification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a asp-action="Create"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:30px"> Create </i></a>
                </p>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Specifications Table</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Shape</th>
                                <th>Gender</th>
                                <th>Color</th>
                                <th>Material</th>
                                <th>Weight</th>
                                <th>Warranty</th>
                                <th>Edit</th>
                                <th>Detail</th>
                                <th>Delete</th>
                                <th>Origin</th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdSpecifications)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdProducts.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Shape)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Color)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Material)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Weight)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Warranty)
                                        </td>

                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.IdSpecifications"><i class="fa fa-pencil-square-o" style="font-size:20px" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.IdSpecifications"><i class="fa fa-eye" style="font-size:20px" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.IdSpecifications"><i class="fa fa-trash" style="font-size:20px" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.IdProduct" asp-controller="Products"><i class="fa fa-cube" style="font-size:20px" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
